/* Write your CSS here */
.configuration-container {
  background-color: #475569;
  padding: 15px;
  padding-right: 20px;
  color: white;
  font-family: 'Roboto';
}
.layout-heading {
  font-size: 27px;
  font-weight: bold;
}
.config-items {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.content {
  font-size: 15px;
}
